useDynLib(DropletUtils, .fixes="cxx_", .registration=TRUE)

import(BiocParallel)
import(SingleCellExperiment)

importFrom("SummarizedExperiment", colData, rowData)
importFrom("S4Vectors", DataFrame)
importFrom("Matrix", colSums, rowSums, readMM, sparseMatrix, writeMM)
importFrom("methods", is, as)
importFrom("stats", p.adjust, aggregate, smooth.spline, predict, fitted, quantile)
importFrom("Rcpp", sourceCpp)
importFrom("edgeR", goodTuringProportions)
importFrom("utils", read.table, head, write.table)
importFrom("rhdf5", h5write, h5read, h5createFile, h5write.default)

export(
    makeCountMatrix,
    read10xCounts, read10xMolInfo, 
    write10xCounts,
    downsampleMatrix, downsampleReads,
    swappedDrops, 
    barcodeRanks,
    testEmptyDrops, emptyDrops, defaultDrops
)
