useDynLib(EmptyDrops)

importFrom("Matrix", colSums, rowSums)
importFrom("methods", is)
importFrom("stats", lowess, spline, p.adjust)
importFrom("Rcpp", sourceCpp)
importFrom("edgeR", goodTuringProportions)

export(computePValue, findInflectionPoint, detectCells)
