useDynLib(DropletUtils, .fixes="cxx_", .registration=TRUE)

import(BiocParallel)
import(SingleCellExperiment)

importFrom("SummarizedExperiment", colData, rowData)
importFrom("S4Vectors", DataFrame)
importFrom("Matrix", colSums, rowSums, readMM)
importFrom("methods", is, as)
importFrom("stats", lowess, spline, p.adjust, aggregate, splinefun)
importFrom("Rcpp", sourceCpp)
importFrom("edgeR", goodTuringProportions)
importFrom("utils", read.table)


export(
    read10xResults, 
    downsampleCounts,
    testEmptyDrops, findKneePoint, emptyDrops
)
